<app-layout>
 <mat-card>
  <mat-card-header>
   <div mat-card-avatar class="header-image"></div>
   <mat-card-title>Ary Allain</mat-card-title>
   <mat-card-subtitle>Front-end and Back-end Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorum rerum numquam laborum
   praesentium modi facilis eaque minima, fugiat delectus dignissimos hic itaque sint molestias libero ipsam officiis
   corporis at? Saepe ad fugit commodi at, omnis dolorem expedita numquam culpa incidunt illum id architecto excepturi
   quibusdam? Dolore dicta nisi omnis eius ut minima corporis adipisci ea? Ea adipisci excepturi saepe, libero, corporis
   nobis iure praesentium cupiditate id asperiores quo perferendis inventore beatae reiciendis sapiente laboriosam quasi
   natus ex! Quibusdam dolores minima ducimus nihil? Quis nisi incidunt accusantium laborum adipisci hic consequatur
   molestias earum quaerat asperiores, rem at provident repudiandae itaque. Maiores consequatur saepe beatae ducimus
   reprehenderit nisi. Quas ex eius nulla voluptatibus iure, veritatis in, iste non totam quis rem sit eveniet ut cum
   voluptate exercitationem corrupti error quidem, aut impedit ipsam soluta? Tenetur hic similique dignissimos debitis,
   suscipit earum harum non illo molestiae nisi maiores molestias adipisci nemo nesciunt minima placeat officia saepe
   rem? Eveniet nisi tempora maxime, ea, fuga, natus vero debitis velit nobis necessitatibus error doloribus enim
   repellat dicta dolores! Sapiente ullam, aut neque architecto praesentium deleniti illo deserunt quam similique
   provident, ut omnis? Provident temporibus, sit rerum architecto, magni ab cumque odit nostrum earum quas tempore?
  </mat-card-content>
 </mat-card>
</app-layout>